body {
    background-color: whitesmoke;
}
.btn-dark {
    background-color: #FFC2FF;
    color: whitesmoke;
    border-color: #FFC2FF;
} 
.btn-info {
    background-color: mediumvioletred;
    color:whitesmoke;
}
.card-img {
background-color: whitesmoke;
}