
.btn-dark {
    background-color: #FFC2FF;
    color: whitesmoke;
    border-color: #FFC2FF;
} 
h1 {
    color: mediumvioletred !important;
}
.btn-info {
    background-color: mediumvioletred;
    color:whitesmoke;
    border-color: mediumvioletred;
}
.cards.row {
background-color: whitesmoke !important;
}
.btn-danger {
    background-color: #BF925A;
    color:whitesmoke;
    border-color: #BF925A;
}